<div class="row">
  <div class="col-sm-12">
    <app-loading-wrapper [loading]="loading">
      <div class="images-container" *ngIf="images.length">
        <ngx-masonry>
          <div ngxMasonryItem class="masonry-item" *ngFor="let image of images">
            <img [src]="image.urls.regular" [alt]="image.alt_description" class="img-thumbnail">
            <div class="middle d-none d-sm-block">
              <a [attr.href]="image.user.links.html"
                 ngbTooltip="Visit author's page"
                 target="_blank"
                 class="link author-link">
                <i class="fa fa-link"></i>
              </a>
              <a ngbTooltip="Add to favorites"
                 (click)="openFavoriteModal(image)"
                 href="javascript:void(0)"
                 class="link star-link">
                <i class="fa fa-star"></i>
              </a>
            </div>
            <div class="middle d-block d-sm-none">
              <a ngbTooltip="Image menu"
                 (click)="openMenuForMobile(image)"
                 href="javascript:void(0)"
                 class="link mobile-opener-link">
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </ngx-masonry>
        <div class="d-flex justify-content-center">
          <ngb-pagination
            (pageChange)="loadPage()"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="total"
            [maxSize]="5"></ngb-pagination>
        </div>
      </div>
    </app-loading-wrapper>
  </div>
</div>
