.favorites-container {
  padding: 50px;

  .masonry-item {
    width: 50%;
    padding: 5px;

    a {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    .images-list {
      margin-top: 20px;
    }
  }
}
